html {
    margin: 0;
    height: 100%;
    background-color: $gray10;
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular',
      'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $black;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: $light-purple;

    &:visited {
        color: $golden;
    }
}

blockquote {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 1rem;
    font-style: italic;
    border-left: 3px solid $gray50;
    color: $gray80;
    line-height: 1.7rem;
}

header {
    width: 100%;
    padding: 2rem 2rem 10rem 2rem;
    animation: 5s scroll infinite linear;
    background: linear-gradient(165deg, $dark-purple, $wine-purple);
    background-size: 100% 400%;
    border-bottom: solid 6px $golden;
    box-shadow: 0px 1px 3px hsla(0, 0%, 0%, .2);
    text-align: center;
}

footer {
    margin: 0 auto 2% auto;
    max-width: 25rem;
    box-shadow: 0px -4px 5px -5px $gray50;
    padding: .5rem 1rem;
    color: $gray50;
    text-align: center;

    a {
        color: $gray50;

        &:visited {
            color: $gray50;
        }
    }
}

p {
    line-height: 1.7rem;
    margin: 1.7rem 0;
}

pre, code, tt {
    font-family: Fira Code, Fira Mono, Consolas, Monaco, Inconsolata, monospace;
    font-size: 90%;
    white-space: pre-wrap;
}

@include b(joke) {
    text-decoration: underline dotted $gray50;
    cursor: help;
}

@include b(main) {
    background: $white;
    box-shadow: 0px 4px 6px hsla(0, 0%, 0%, .2);
    max-width: 40em;
    margin: -8rem auto 4rem auto;
    padding: 4rem;
    text-align: center;

    h1 {
        margin-top: 4%;
        margin-bottom: 0;
    }

    h2 {
        color: $gray80;
        margin-top: 0;
        margin-bottom: 8%;
    }

    @include m(about) {
        text-align: left;
    }
}

@include b(link-list) {
    list-style: none;
    padding: 0;

    li {
        line-height: 1.8rem;
    }

    @include m(social) {
        margin-top: 1.6rem;
    }
}

@include b(post-list) {
    margin-bottom: 3em;
    list-style: none;
    padding: 0;
    color: $gray80;

    li + li {
        margin-top: .8rem;
    }
}

@include b(post-meta) {
    color: $gray40;

    h2 + & {
        margin-top: -1rem;
    }
}

@include b(flex-container) {
    margin: 0;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;

    @include e(sidebar) {
        flex: 1;
        order: 0;
        height: 100%;
        padding-top: 2em;
        animation: 10s scroll infinite linear;
        background: linear-gradient(120deg, $dark-purple, $wine-purple);
        background-size: 400% 100%;
        font-size: 90%;
        color: $white;
        text-align: center;
        border-right: solid 6px $golden;
        box-shadow: -8px 0px 8px 8px $black;
        overflow: auto;

        h1 {
            color: $white;
        }

        a {
            color: $white;

            &:visited {
                color: $golden;
            }
        }
    }

    @include e(main-section) {
        order: 1;
        width: calc(100% - 300px);
        height: 100%;
        padding: 1rem;
        overflow: auto;
        text-align: left;
    }

    @include e(article) {
        background: $white;
        box-shadow: 0px 4px 6px hsla(0, 0%, 0%, .2);
        margin: 0 auto 4rem auto;
        max-width: 40rem;
        padding: 4rem;
    }
}

@include b(card-list) {
    max-width: 52em;
    margin: auto;

    h2 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    @include b(flex-container) {
        flex-flow: column;
        height: auto;

        @include e(sidebar) {
            order: 1;
            width: 100%;
            height: auto;
            border-right: none;
            border-top: solid 6px $golden;
            box-shadow: 0px 8px 8px 8px $black;
        }

        @include e(main-section) {
            order: 0;
            width: 100%;
            height: auto;
        }

        @include e(article) {
            padding: 2rem;
        }
    }
}

@keyframes scroll {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
