html, body {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: linear-gradient(15deg, #10101e, #2b1220);
  font-family: 'Alegreya', 'serif';
}

.content {
  margin: 0 auto;
  max-width: 35em;
  border-radius: .2em;
  padding: .5em 2em;
  background: #f0f0f0;
  color: #333;
}

pre, code, tt {
  font-family: 'Cutive Mono', 'monospaced';
  font-size: 90%;
}

a {
  color: #7d4276;
  text-decoration: none;
}

a:visited {
  color: #888888;
}

header {
  a, a:visited {
    color: #212141;
  }
}

footer {
  a:visited {
    color: #7d4276;
  }
}

.copyright {
  text-align: center;
  color: #f0f0f0;
  font-size: 80%;

  a {
    color: #f0f0f0;
    text-decoration: none;
  }
}

