html {
    margin: 0;
    height: 100%;
    background-color: $white;
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular',
      'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $black;
}

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: $light-purple;

    &:visited {
        color: $golden;
    }
}

blockquote {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 1rem;
    font-style: italic;
    border-left: 3px solid $light-gray;
    color: $dark-gray;
    line-height: 1.7rem;
}

header {
    width: 100%;
    padding: 2rem;
    background: linear-gradient(165deg, $dark-purple, $wine-purple);
    border-bottom: solid 6px $golden;
    box-shadow: 0px -8px 8px 8px $black;
    text-align: center;
}

footer {
    margin: 0 auto 2% auto;
    max-width: 25rem;
    box-shadow: 0px -4px 5px -5px $light-gray;
    padding: .5rem 1rem;
    color: $light-gray;
    text-align: center;

    a {
        color: $light-gray;

        &:visited {
            color: $light-gray;
        }
    }
}

p {
    line-height: 1.7rem;
    margin: 1.7rem 0;
}

pre, code, tt {
    font-family: Fira Code, Fira Mono, Consolas, Monaco, Inconsolata, monospace;
    font-size: 90%;
    white-space: pre-wrap;
}

@include b(joke) {
    text-decoration: underline dotted $light-gray;
    cursor: help;
}

@include b(main) {
    max-width: 32em;
    margin: 2% auto 2% auto;
    text-align: center;

    h1 {
        margin-top: 4%;
        margin-bottom: 0;
    }

    h2 {
        color: $dark-gray;
        margin-top: 0;
        margin-bottom: 8%;
    }

    @include m(about) {
        text-align: left;
    }
}

@include b(link-list) {
    list-style: none;
    padding: 0;

    li {
        line-height: 1.8rem;
    }

    @include m(social) {
        margin-top: 1.6rem;
    }
}

@include b(post-list) {
    margin-bottom: 3em;
    list-style: none;
    padding: 0;
    color: $dark-gray;

    li + li {
        margin-top: .8rem;
    }
}

@include b(post-meta) {
    color: $dark-gray;

    h2 + & {
        margin-top: -1rem;
    }
}

.flex-container {
    margin: 0;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.flex-container aside {
    flex: 1;
    order: 0;
    height: 100%;
    padding-top: 2em;
    background: linear-gradient(120deg, #16162a, #461d34);
    font-size: 90%;
    color: white;
    text-align: center;
    border-right: solid 6px #c19e3e;
    box-shadow: -8px 0px 8px 8px #111010;
    overflow: auto;
}

.flex-container aside h1, .flex-container aside a {
    color: white;
}

.flex-container aside a:visited {
    color: #c19e3e;
}

.flex-container section {
    order: 1;
    width: calc(100% - 300px);
    height: 100%;
    padding: 1em;
    overflow: auto;
    text-align: left;
}

.flex-container section article {
    margin: auto;
    max-width: 32em;
}

.flex-container section article.index-article {
    max-width: 52em;

    h2 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .flex-container {
        flex-flow: column;
        height: auto;
    }

    .flex-container aside {
        order: 1;
        width: 100%;
        height: auto;
        border-right: none;
        border-top: solid 6px #c19e3e;
        box-shadow: 0px 8px 8px 8px #111010;
    }

    .flex-container section {
        order: 0;
        width: 100%;
        height: auto;
    }
}
