@mixin b($block) {
    .#{$block} {
        @content;
    }
}

@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}
