$white: #ffffff;
$black: #111010;

$gray10: #f1f1ee;
$gray40: #787674;
$gray50: #6f6c69;
$gray80: #574b43;

$light-purple: #513e59;
$dark-purple: #16162a;
$wine-purple:lighten(#461d34, 5%);

$golden: #c19e3e;