---
layout: sidebar
---
<article class="flex-container__article" itemscope itemtype="http://schema.org/BlogPosting">
  <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

  {{ content }}

  <p class="post-meta">
    Tagged under:
    {% assign tags = page.tags | sort %}
    {% for tag in tags %}
      {{ tag }}{% unless forloop.last %}, {% endunless %}{% if forloop.last %}.{% endif %}
    {% endfor %}
  </p>
</article>
