---
layout: sidebar
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

  {{ content }}

  <p>
    Tagged under:
    {% assign tags = page.tags | sort 0 %}
    {% for tag in tags %}
      <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% if forloop.last %}.{% endif %}
    {% endfor %}
  </p>
</article>
