---
layout: default
---
    <div class="flex-container">
      <aside class="flex-container__sidebar">
        <img src="/logo400x400.png" width="80" height="80" title="Andre Ramaciotti" alt="Andre Ramaciotti" />
        <h1>André Ramaciotti</h1>

        <ul class="link-list">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/coding/index.html">Coding Blog</a></li>
          <!--<li><a href="/misc/index.html">Misc Blog</a></li>-->
          <!--<li><a href="/about.html">About</a></li>-->
        </ul>

        <ul class="link-list link-list--social">
          <li><a href="https://github.com/ramaciotti/">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/ramaciotti/">LinkedIn</a></li>
        </ul>
      </aside>

      <section class="flex-container__main-section">
        {{ content }}
        {% include footer.html %}
      </section>
    </div>
